<div class="bento-container">
  <!-- ... The .bento-item loop is unchanged ... -->
  <div 
    class="bento-item" 
    *ngFor="let item of items"
    [style.grid-row]="'span ' + item.spanRows"
    [style.grid-column]="'span ' + item.spanCols">
    
    <img [src]="item.mediaUrl" [alt]="item.title" class="bento-media">

    <div class="item-overlay">
      <div class="icons">
        <a *ngIf="item.liveUrl" [href]="item.liveUrl" target="_blank" class="icon-link" (click)="$event.stopPropagation()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 17.93c-3.95-.49-7-3.85-7-7.93 0-.62.08-1.21.21-1.79L8 12v1c0 1.1.9 2 2 2v1.93zM17.99 15.25c-.21.58-.49 1.12-.82 1.62l-4.17-4.17v-1c0-1.1-.9-2-2-2h-1L6.42 6.94c.54-.3 1.13-.53 1.76-.68l3.82 3.82c.63.63 1.71.18 1.71-.71V8h1c.85 0 1.58.52 1.87 1.25l2.38 5z"/></svg>
        </a>
        <button class="icon-link" (click)="openModal(item)">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5C21.27 7.61 17 4.5 12 4.5zm0 13c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/></svg>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Full Screen Modal -->
<div class="modal-overlay" #modalOverlay (click)="closeModal()">
  <div class="modal-content" #modalContent (click)="$event.stopPropagation()">
    <!-- === CLOSE BUTTON IS NOW INSIDE === -->
    <button class="modal-close" (click)="closeModal()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
    </button>
    
    <img *ngIf="activeItem" [src]="activeItem.mediaUrl" [alt]="activeItem.title" class="modal-media">

    <!-- === NEW CONTENT BELT === -->
    <div class="modal-belt" #modalBelt>
      <div *ngIf="activeItem">
        <h3>{{ activeItem.title }}</h3>
        <p>{{ activeItem.description }}</p>
      </div>
    </div>
  </div>
</div>